{% extends 'main.html' %}
{% block content %}
<section class="product-config-section">
    <div class="container">
        <div class="config-container">
            <div class="form-section active">
                <h2>Set New Password</h2>
                <form method="post" class="product-form">
                    {% csrf_token %}
                    <div class="form-field">
                        <label for="new_password1" class="form-label">New password:</label>
                        <input type="password" name="new_password1" id="new_password1" required>
                    </div>
                    <div class="form-field">
                        <label for="new_password2" class="form-label">Confirm new password:</label>
                        <input type="password" name="new_password2" id="new_password2" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %} 

<!-- 3 -->