{% extends 'main.html' %}
{% block content %}
<section class="product-config-section">
    <div class="container">
        <div class="config-container">
            <div class="container">
                <div class="reset-password-complete">
                    <h2>Password Reset Complete</h2>
                    <p>Your password has been successfully reset. You can now <a href="{% url 'login' %}">log in</a> with your new password.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %} 

<!-- 4 -->