{% extends 'main.html' %}
{% block content %}
<section class="product-config-section">
    <div class="container">
        <div class="config-container">
            <h2>Reset Password</h2>
            <form class="product-form" method="post" >
                {% csrf_token %}
                <div class="form-section active">
                    <div class="form-field">
                        <label for="email" class="form-label">Enter your email address:</label>
                        <input type="email" name="email" id="email" class="form-field input" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Send Reset Link</button>
            </form>
        </div>
    </div>
</section>
{% endblock %} 

<!-- 1 -->