<footer class="footer">
        <div class="container">
            <div class="footer-content">
                <div class="footer-section">
                    <h3>Widget</h3>
                    <p>Premium wood products and gifts</p>
                </div>
                <div class="footer-section">
                    <h4>Contact</h4>
                    <li><a class="info-label" href="https://wa.me/+201099429165" target="_blank">WhatsApp</a></li>
                    <li><a class="info-label" href="tel:+201099429165">Call: +20 109 942 9165</a></li>
                    <p>Email: info@woodcraft.com</p>

                </div>
                <div class="footer-section">
                    <h4>Follow Us</h4>
                    <p>Facebook | Instagram | Twitter</p>
                </div>
            </div>
        </div>
    </footer>
