<!-- Quick Actions -->
<div class="admin-section">
    <h3>Quick Actions</h3>
    <div class="action-buttons">
        <a href="{% url 'admin_cards' %}" class="btn-secondary">Main Page</a>
        <a href="{% url 'admin_orders' %}" class="btn-secondary">Preview Orders</a>
        <a href="{% url 'admin_products' %}" class="btn-secondary">Preview Products</a>
        <a href="{% url 'components_shapes' %}" class="btn-secondary">Show Components & Shapes</a>
        <a href="{% url 'access_components' %}" class="btn-secondary">Link Components with Shapes</a>
        <a href="#" class="btn-secondary">Send Notifications</a>
    </div>
</div>