{% extends 'main.html' %}
{% block content %}
<section class="product-config-section">
    <div class="container">
        <div class="config-container">
            <form method="post">
                {% csrf_token %}
                <!-- loop here -->
                {% for field in form %}
                    <div class="form-field">
                        <label class="form-label">{{field.label}}<span class="required">*</span></label>
                        {{field}}

                        <!-- !-- to display errors --! -->
                        {% if field.errors %}
                            <div class="field-error">
                                {% for error in field.errors %}
                                    <span class="error-message">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

                <!--! Form Actions -->
                <div class="form-actions">
                    <a href="{% url 'profile' %}" class="btn-secondary">cancel</a>
                    <button type="submit" class="btn-primary">Save Configuration</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}