{% extends 'main.html' %}
{% block content %}

    <!-- Hero Section -->
    <section class="hero">
        <div class="hero-content">
            <h1>Widget Wood Products Dashboard</h1>
            <p>Here are summarized cards for your orders and finances.</p>
            <a href="{% url 'get_order' %}" class="btn-primary">Request Order</a>
        </div>
    </section>

<div class="card-section"> 
    <!-- First Dashboard Stats -->
    <div class="admin-section">
        <h3>Public Overview</h3>
        <div class="stats-grid">
            <div class="stat-card">
                <h4>Total Orders</h4>
                <span class="stat-number">{{orders.count}}</span>
                <p>Total</p>
            </div>
            <div class="stat-card">
                <h4>Completed Orders</h4>
                <span class="stat-number">{{completed_orders.count}}</span>
                <p>Done Successfully</p>
            </div>
            <div class="stat-card">
                <h4>Pending Orders</h4>
                <span class="stat-number">{{pending_orders.count}}</span>
                <p>It will be ready soon</p>
            </div>
        </div>
    </div>
    
    <!-- Second Dashboard Stats -->
    <div class="admin-section">
        <h3>Finance Overview</h3>
        <div class="stats-grid">
            <div class="stat-card">
                <h4>total price</h4>
                <span class="stat-number">{{total_price}}</span>
                <p>total orders price</p>
            </div>
            <div class="stat-card">
                <h4>total paid</h4>
                <span class="stat-number">{{already_paid}}</span>
                <p>already paid</p>
            </div>
            <div class="stat-card">
                <h4>will pay later</h4>
                <span class="stat-number">{{total_remaining_balance}}</span>
                <p>require to pay</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}