{% extends 'main.html' %}
{% block content %}
    <!-- Order Section -->
    <section class="product-config-section">
        <div class="config-container">
            <form id="orderForm" class="product-form" method="post">
                {% csrf_token %}
                <!-- Order Details Section -->
                <div class="form-section active">
                    <div class="section-header">
                        <h3 class="section-title">
                            Edit Order
                        </h3>
                    </div>
                    
                    <div class="form-grid">
                        {% for field in form %}
                        <div class="form-field">
                            <label class="form-label" >{{ field.label }}<span class="required">*</span></label>
                            {{ field }}
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- Form Actions -->
                <div class="form-actions">
                    <button type="submit" class="btn-primary">Update</button>
                    <a href="{% url 'user_orders' %}" class="btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </section>
{% endblock %}